body {
  background-color: #E8E4E1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rammetto One;
}

p,
div,
a {
  font-family: Geologica;
}

.main_container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden !important;

}

.text_container {
  color: #1E1E1E;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_container h1 {
  font-size: 36px;
  margin: 0;
}

.text_container p {
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
  color: #333;
}

.background_forms {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden !important;
}

.tree_decoration {
  width: 550px;
  right: -120px;
  bottom: -100px;
  position: absolute;
  z-index: -1
}

.hohoho_decoration {
  width: 350px;
  left: 80px;
  top: 0px;
  position: absolute;
  z-index: -1
}

.content_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 100px;
}

.form_container {
  width: 600px;
  height: 500px;
  background-color: rgba(245, 245, 245, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px
}

.form_container h4 {
  margin: 0;
  color: #1E1E1E;
  font-size: 24px;

}

.letter_container {
  width: 500px;
  height: 550px;
  background-color: rgba(245, 245, 245, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter_container img {
  width: 73%;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
}

.letter_textWrapper {
  position: absolute;
  z-index: 999;
  top: 80px;
  left: 110px;
}

.letter_textWrapper .letter_text {
  font-family: Caveat;
  font-size: 20px;
  width: 70%;
}