body {
  background-color: #E8E4E1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rammetto One;
}

p,
div,
a {
  font-family: Geologica;
}

.main_container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden !important;

}

.text_container {
  color: #1E1E1E;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_container h1 {
  font-size: 36px;
  margin: 0;
}

.text_container p {
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}

.background_forms {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden !important;
}

.tree_decoration {
  width: 550px;
  right: -120px;
  bottom: -100px;
  position: absolute;
  z-index: -1
}

.hohoho_decoration {
  width: 350px;
  left: 80px;
  top: 0px;
  position: absolute;
  z-index: -1
}